body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ae7bb4;
}

.header-1 {
  color: rgb(168, 77, 161);
  font: Helvetica, sans-serif;
}

.footer {
  color: #c27ad8;
}

.body-text {
  color: black;
}

.blog-form {
  color: black;
  font-weight: bolder;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px;
  grid-gap: 5em;
}
 
.grid__item_1 {
  width: 250px;
  height: 250px;
  margin: auto;
  border: 1px solid pink;
  border-radius: 25px;
  background: url(https://laistassets.scprdev.org/i/a3df30fb7f415566d71ddf8e2aa9eef7/5cd48b964566910009be0289-eight.jpg);
  background-position: left;
}

.grid__item_2 {
  width: 250px;
  height: 250px;
  margin: auto;
  border: 1px solid pink;
  border-radius: 25px;
  background: url(https://s.abcnews.com/images/Lifestyle/HT_best_friends_kittens_1_jt_150526_16x9_992.jpg);
  background-position: left;
}

.grid__item_3 {
  width: 250px;
  height: 250px;
  margin: auto;
  border: 1px solid pink;
  border-radius: 25px;
  background: url(https://cdn3-www.cattime.com/assets/uploads/gallery/siamese-cats-and-kittens-pictures/siamese-cat-kitten-picture-1.jpg);
  background-position: center;
}

.grid__item_4 {
  width: 250px;
  height: 250px;
  margin: auto;
  border: 1px solid pink;
  border-radius: 25px;
  background: url(https://pbs.twimg.com/profile_images/1080545769034108928/CEzHCTpI_400x400.jpg);
  background-position: center;
}

.container {
  margin-top: 25%;
}

.circle:nth-child(1),
.circle:nth-child(2),
.circle:nth-child(3),
.circle:nth-child(4),
.circle:nth-child(5){
  width: 230px;
  height: 230px;
  margin: auto;
  border: 1px solid yellow;
  background-color: yellow;
  border-radius: 10em;
  display: inline-flex;
  animation: PopUp .9s ease-in infinite;

}

.circle:nth-child(1){
  animation-delay: 50ms;
}

.circle:nth-child(2){
  animation-delay: 100ms;
}

.circle:nth-child(3){
  animation-delay: 500ms;
}

.circle:nth-child(4){
  animation-delay: 300ms;
}

#paragraph-1 {
  color: rgb(219, 123, 78);
}

#paragraph-2 {
  color: #8e5fd8;
}

#balls-header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
}

@keyframes PopUp{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-350px);
  }
  100%{
    transform: translateY(0);
  }

}

/* We used 3 different ways to specify color:
the word "blue", rgb selectors and hex codes */